*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #1a1a1a;
    background-color: #fafafa;
    width: 90%;
    margin: 1em auto;
    line-height: 1.667;
}

h1{
    padding: .5em;
    margin-bottom: .5em;
    font-size: 1.5rem;
}

.center{
    text-align: center;
}

.grey{
    color:#777;
}
ol{
    margin: 1em 3em;
}

img {
    border: 1px solid #f5f5f5;
    border-radius: .25rem;
    display: block;
    padding: .5rem;
    margin: 1em auto;
    background-color: #f5f5f5;
    width: 95%;
    max-width: 800px;
}

.spacer{
    width: 100%;
    height: 3em;
}
.sp{
    width: 100%;
    height: 1em;
}

a, a:visited{
    text-decoration: none;
    color: #1a1a1a;
}